# video-c build artifacts
video-cli
wan-cli
*.o
bmtl_tok/
tests/test_h3_tokenizer
tests/test_h3_qwen_te_host
tests/test_h3_present
tests/test_h3_qwen_te_4b
tests/test_sched_unipc
tests/test_validate
tests/test_gguf_roundtrip
tests/test_ops_wire
tests/test_tokenizer_spm
tests/test_h3_info
tests/test_h3_host
tests/test_h3_st_store
tests/test_h3_adaln_host
tests/test_h3_audio_vae_host
tests/test_h3_clipproj_host
tests/test_h3_convrot
tests/test_h3_dit_block
tests/test_h3_dit_forward
tests/test_h3_dit_host
tests/test_h3_dit_pack
tests/test_h3_packing_mlx
tests/test_h3_text_cond
tests/test_h3_video_vae_host
tests/test_encode_avi
tests/test_encode_mp4
tests/tmp_mini_spm.model
tests/tmp_vae_frame.ppm
dumps/
# Linux CUDA lab binaries (make -C x/video-c cuda-*)
tests/cuda_smoke
tests/cuda_fragment
tests/host_fragment
tests/cuda_ffn_block
tests/cuda_block0
tests/cuda_block0_real
tests/cuda_block0_rematch
tests/cuda_multiblock_rematch
tests/cuda_latent_unipc_rematch
backend_cuda.o
backend_cuda_elem.o
backend_host.o
backend_ops.o
dit_resident.o
safetensors_min.o
sched_unipc_linux.o
